@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto+Slab:wght@300&display=swap');

body {
   margin: 0px;
   filter: drop-shadow(0 0 0.75rem lightgrey);
   line-height: 2em;
}

a {
   text-decoration: none;
   color: #da7678;
}

.main {
    width: 50%;
    background-color: #ffffff;
}

.heading {
  font-size: 24px;
  font-family: "Alata", sans-serif;
  font-weight: 500;
}

.sub-heading {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

.link {
  text-decoration: none;
}

.thin {
  width: 65%;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  text-align: justify;
}

.hl {
   color: #444;
   padding: 5px;
   border-radius: 3px;
}

.logo {
  width: 20%;
  padding-top: 24px;
}

.navlink {
  font-family: monospace;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  padding: 5px;
  color: #eee;
  background-color: #333;
}

hr {
  width: 80%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media only screen and (max-width: 768px) {
   .main{
	   width: 100%;
   }
   .logo {
      width: 60%;
   }
   .sub-heading {
      width: 85%;
      font-size: 16px;
   }
   .thin {
      width: 80%;
      font-size: 16px;
   }
}
